name: remote ssh command
on: [push]
jobs:

  build:
    name: Build
    runs-on: ubuntu-latest
    steps:
    - name: executing remote ssh commands using password
      uses: appleboy/ssh-action@master
      with:
        host: ${{ secrets.HOST }}
        username: ${{ secrets.USERNAME }}
        password: ${{ secrets.PASSWORD }}
        port: ${{ secrets.PORT }}
        script: |
          mkdir FSJL2
          cd FSJL2
          git clone https://${{ secrets.TOKEN }}@github.com/jakartalabs/FULLSTACK_WEB_BATCH_2.git
          ls -lha
          whoami